<body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 navbar-default oo">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100  ui sidebar-nav navbar-collapse ">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none ">
                    <span class="fs-5 d-none d-sm-inline txt">ESPACE ADMINISTRATEUR</span>
                    
                    
                </a>
                <img src="assets/images/welcome.png" alt="Avatar" class="avatar">
                <ul class="nav ee" id="side-menu">

                  <li class="pp clickable">
                    <a routerLink="/personne" *ngIf="isConnecter1">
                    <i class="fa fa-users fa-fw nav_icon"></i>
                      <span>gerer les utilisateurs</span>  </a>
                  </li>

                  <li class="pp clickable">
                    <a routerLink="/infirmier"  *ngIf="isConnecter1" class="pp">
                      <i class=" fa fa-list   nav_icon "></i>
                      <span >gerer les infirmiers</span></a>
                      <ul class="nav clickable">
                          
                      <li><a routerLink="/infirmier" *ngIf="isConnecter1"><i class="fa fa-angle-right"></i> Liste des infirmiers</a></li>
                      <li><a  routerLink="/new-infirmier" *ngIf="isConnecter1"><i class="fa fa-angle-right"></i> ajouter un infirmier</a></li>

                      </ul>
                   </li>
                   <li class="nav-item ">
                    <a class="nav-link " *ngIf="isConnecter1" (click)="deconnect()" routerLink="/login" routerlinkactive="active">se deconecter</a>
                </li>
                 
              </ul>
             
                <hr>
                <div class="dropdown pb-4">
                   
                
                  
                </div>
            </div>
        </div>
          <!--------------------------------------------------------->
          <div class="col py-3">

            <div class="container">
              <div class="col-md-9 col-sm-6 col-xs-12">
                      <h3 class="text espace">Ajouter un infirmier:</h3>       
                          <div class="panel-body" *ngIf="mode==1">
                              <form #f="ngForm" (ngSubmit)="onSavePErsonne(f.value)">
                                  <div class="form-groupe">
                                      <label class="control-label ">nom :</label>
                                      <input class="form-control" type="text" name="nom" ngModel>
                                  </div>
                                  <div class="form-groupe">
                                      <label class="control-label">prenom :</label>
                                      <input class="form-control" type="text" name="prenom" ngModel>
                                  </div>
                                  <div class="form-groupe">
                                      <label class="control-label">date-naissance :</label>
                                      <input class="form-control" type="date" name="date_naissance" ngModel>
                                  </div>
                                  <div class="form-groupe">
                                      <label class="control-label">email :</label>
                                      <input class="form-control" type="text" name="email" ngModel>
                                  </div>
                                  <div class="form-groupe">
                                      <label class="control-label">telephone :</label>
                                      <input class="form-control" type="text" name="telephone" ngModel>
                                  </div>
                                  <div class="form-group">
                                      <label for="exampleFormControlSelect1">Type de sang</label>
                                      <select class="form-control" name="typeSang" ngModel>
                                          <option>A</option>
                                          <option>B</option>
                                          <option>AB</option>
                                          <option>O</option>
                                      </select>
                                      </div>
                                  <div class="form-groupe">
                                      <label class="control-label">sexe :</label>
                                      <input class="form-control" type="text" name="sexe" ngModel>
                                  </div>
                                  <div class="form-groupe">
                                    <label class="control-label">diplome :</label>
                                    <input class="form-control" type="text" name="diplome" ngModel>
                                </div>
                                  <button class="btn btn-primary" type="submit">enregistrer</button>
                              </form>
                          </div>
                          </div>
                          </div>
            </div>
            </div>
            </div>
</body>




