

<head>

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">



  


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    
    <header class="site-navbar light js-sticky-header site-navbar-target" role="banner">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2">
            <div class="mb-0 site-logo image">  <img src="assets/images/heart.jpg" alt="Image" height="150" width="200" style=" position: absolute;top: -10px; left: 100px;"></div>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block b">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="active"><a routerLink="/" class="nav-link">accueil</a></li>
                <li><a routerLink="/loginAdmin"> espace administrateur</a></li>
                <li><a routerLink="/login" class="nav-link">espace infirmier</a></li>
               
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3 text-black"></span></a></div>

        </div>
      </div>

    </header>
    <div class="hero-v1">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mr-auto text-center text-lg-left">
            <img src="assets/images/hand1.jpg" alt="Image" class="img-fluid">
            <span class="d-block subheading" style=" position: absolute;top: 8px; left: 16px;">ce n'est pas qu'un sang,c'est un liquide vivant,</span>

            <h1 class="heading mb-3" style=" position: absolute;top: 20px; left: 16px;"> donnez un sang pour sauver une vie</h1>
           
          </div>
          <div class="col-lg-6">
            <figure class="illustration">
              <img src="assets/images/seringue.jpg" alt="Image" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-6"></div>
        </div>
      </div>
    </div>
    





    <br>

<!--------------------------------..-->

<router-outlet></router-outlet>
<!--------------------------------..-->
<div>
<h1 class="text espace">Le don de sang</h1>
<p class="text">Vous êtes sur le point de faire un geste utile et solidaire qui permet de sauver de nombreuses vies.<br>
   De vivre une expérience unique dans laquelle les donneurs et les receveurs sont au cœur d’une dynamique de partage. <br>
   Mais vous vous posez encore quelques questions et ça vous empêche de passer le cap !</p>
   <br>
  
  </div>   
<br>
<br><br>
   <div class="row ">
    <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0 back">
         <h3 class="espace1">Quels sont les principaux critères ? </h3>

         <li class="espace2"><span class="gras">Âge : </span>pour donner votre sang, vous devez être majeur (18 ans).
         <p class="espace2" > pouvez donner jusqu’à 70 ans (inclus).</p></li>
         <li class="espace2"> <span class="gras">Poids : </span>peser 50 kg minimum.</li>
         <li class="espace2"> <span class="gras">Identité :</span> vous munir d’un document d’identité.
         <p class="espace2"> Votre santé est essentielle, il est important que vous vous sentiez</p>
           <p class="espace2">en forme avant de donner votre sang !</p> </li>
         
      </div>
    <div class="col-sm-6 col-md-5 col-lg-6  back">
      <img src="assets/images/1.jpg">
    </div>


    <div class="row ">
      <div class="col-sm-6 col-md-5 col-lg-6 back">
        <img src="assets/images/2.jpg">
      </div>
      <div class=" col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0 back">
           <h3 class="espace1">Don de sang : les informations utiles</h3>
    
           <li class="espace3"><span class="gras">Durée totale du parcours : </span>1 heure de votre arrivée à votre 
           <p class="espace3" > départ dont 7 à 10 min de prélèvement.</p></li>
           <li class="espace3"> <span class="gras">Quantité de sang prélevée : </span>420 à 480 ml de sang, en fonction 
            <p class="espace3"> de votre poids.</p></li>
           <li class="espace3"> <span class="gras">Conservation des globules rouges :</span> 42 jours.
           <li class="espace3"> <span class="gras">Fréquence des dons :</span> 4 fois par an maximum pour une femme
            <p class="espace3">et 6 pour un homme.</p></li>
           <li class="espace3"> <span class="gras">Délai entre deux dons :</span> Vous devez respecter un délai minimum 
            <p class="espace3"> de 8 semaines entre deux dons de sang total, mais il est possible</p>
            <p class="espace3">  d’effectuer d’autres types de dons dans l’intervalle.</p></li>
        </div>
      
    </div>

  </div><br><br>
<div class="row">
  <div class="col-md-6 offset-md-3">
  <iframe width="700" height="450" src="https://www.youtube.com/embed/IY5rgEpI-HU" title="Les principaux critères au don de sang" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>



   









   

<br>
    <!----------------------------------------------------->
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-4">
          <h2 class="footer-heading mb-4">Quick Links</h2>
          <ul class="list-unstyled">
            <li><a href="#">Symptoms</a></li>
            <li><a href="#">Prevention</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">About Coronavirus</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h2 class="footer-heading mb-4">Helpful Link</h2>
          <ul class="list-unstyled">
            <li><a href="#">Helathcare Professional</a></li>
            <li><a href="#">LGU Facilities</a></li>
            <li><a href="#">Protect Your Family</a></li>
            <li><a href="#">World Health</a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h2 class="footer-heading mb-4">Resources</h2>
          <ul class="list-unstyled">
            <li><a href="#">WHO Website</a></li>
            <li><a href="#">CDC Website</a></li>
            <li><a href="#">Gov Website</a></li>
            <li><a href="#">DOH Website</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <div class="border-top pt-5">
        <p class="copyright"><small>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></p>

        </div>
      </div>

    </div>
   <!-- .site-wrap -->

</body>